{
  "plugins": ["prettier", "import", "@typescript-eslint"],
  "extends": ["react-app", "plugin:prettier/recommended", "prettier"],
  "parser": "@typescript-eslint/parser",
  "rules": {
    "no-unused-vars": "warn",
    "@typescript-eslint/no-unused-vars": "warn",
    "prettier/prettier": [
      "error",
      {
        "arrowParens": "always",
        "singleQuote": true,
        "semi": false,
        "trailingComma": "all",
        "tabWidth": 2
      }
    ]
  }
}
