{
  "plugins": ["prettier", "import"],
  "extends": ["react-app", "plugin:prettier/recommended", "prettier"],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "arrowParens": "always",
        "singleQuote": true,
        "semi": false,
        "trailingComma": "all",
        "tabWidth": 2
      }
    ]
  }
}
